*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #fff;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background-color: #000;
}

header{
    background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.3)),url('../img/header-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    border-bottom: 8px solid #333;
    padding: 26px 56px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > img{
    width: 200px;
    height: 55px;
    vertical-align: middle;
}

.logo{
    display: block;
    cursor: pointer;
}

.idioma{
    padding:6px 0 6px 20px;
    background-color: rgba(0,0,0,0.4);
    border: 2px solid #aaa;
    margin-right: 10px;
    border-radius: 3px;
    font-weight: 400;
    margin-right: 30px;
    display: inline-block;
}

.container-nav svg{
    position: absolute;
    width: 18px;
    margin-top: 7px;
    margin-left: 3px;
}

.login{
    padding: 7px 17px;
    background-color: #e50914;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    font-weight: 400;
    display: inline-block;
}

.pitch{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pitch-info{
    width: 50%;
}

.pitch-title{
    font-size: 3.125rem;
    text-align: center;
}

.pitch-subtitle{
    margin: 13px 0 29px 0;
    font-size: 1.625rem;
    text-align: center;
}

.pitch-form{
    text-align: center;
}

.pitch-form-sub{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.input-email{
    width: 70%;
    text-align: center;
    position: relative;
}

input[type="email"]{
    border: 2px solid #aaa;
    border-radius: 2px;
    padding: 15px 10px;
    width: 100%;
    font-size: 1.2rem;
    color: #000;
}

.input-email input ~ label{
    position: absolute;
    top:0;
    left: 0;
    padding: 19px 11px;
    font-size: 1.2rem;
    color: #aaa;
    pointer-events: none;
    transition: .5s;
}

.input-email input:focus{
    padding-top: 19px;
    padding-bottom: 11px;
}

.input-email input:focus ~ label{
    top: -10px;
    left: 0;
    color: #000;
    font-size: .8rem;
}

.start{
    padding: 12px 26px;
    background-color: #e50914;
    border: none;
    border-radius: 3px;
    font-size: 1.625rem;
    cursor: pointer;

}

.sect-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 60px;
    border-bottom: 10px solid #333;
}
.title{
    font-size: 3.125rem;
    margin-bottom: 8px;
}

.description{
    width: 46%;
}

.text{
    font-size: 1.625rem;
}

.media{
    position: relative;
}

.media img{
    width: 500px;
    position: relative;
    z-index: 5;
}

.media video{
    width: 366px;
    position: absolute;
    top: 77px;
    left: 65px;
}


.sect-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 46px;
    padding: 70px 50px;
    border-bottom: 10px solid #333;
}
.media-s2{
    position: relative;
}

.media-s2 img{
    width: 500px;
    position: relative;
    z-index: 5;
}

.media-s2 video{
    width: 305px;
    position: absolute;
    top: 40px;
    left: 95px;
}
.container-download{
    position: relative;
}
.download{
    background-color: #000;
    position: absolute;
    top:75%;
    left: 25%;
    display: flex;
    width: 50%;
    border: 2px solid #aaa;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding: 10px 0;
}

.download > img{
    width: 48px;
}

.download-text{
    display: flex;
    align-items: center;
}

.download-text > img{
    width: 50px;
    height: 72px;
    margin-right: 25px;
}
.serie{
    font-weight: bolder;
    font-size: 0.9em;
}
.down-text{
    font-weight: bolder;
    color: #0071eb;
    font-size: 0.75em;
}
.faq{
    padding:70px 30px;
}
.faq > h2{
    font-size: 3.125rem;
    text-align: center;
}
.questions{
    max-width:835px ;
    margin: 0 auto;
    font-size: 1.625rem;
}
.question {
    position: relative;
    background-color: #303030;
    margin-bottom: 10px;
}
.question svg{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 10px;
    transition: all 0.2 ease;
}
.question > .header{
    display: block;
    padding: 20px 30px;
    border: 1px solid #000;
    cursor: pointer;
}
.question > .content{
    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
}

.question input[type="checkbox"]{
    display: none;
}

.question input[type="checkbox"]:checked ~ .content{
    padding: 30px 30px;
    max-height: 600px;
}

.question input[type="checkbox"]:checked ~ .header svg{
    transform: rotate(45deg);
}
.faq-form{
    margin: 70px 20px;
    padding: 0 20px;
}
.faq-form .faq-form-sub{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.17em;
}

.faq-form > .form{
    max-width: 660px;
    margin: 0 auto;
}

#faq{
    border-bottom: 10px solid #333;
}

footer{
    padding: 70px 100px 20px;
}
.footer-top, .footer-bottom{
    color: #333;
    font-size: 1.125rem;
    margin-bottom: 30px;
    margin-left: 15%;
}
.footer-lists{
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-list{
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-list > ul > li{
    font-size: 13px;
    color: #333;
    list-style: none;
    margin-bottom: 15px;
}

.footer-lang{
    padding:15px 20px 15px 20px;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid #333;
    color: #aaa;
    margin-top: 20px;
    margin-left: 15%;
    border-radius: 3px;
    font-weight: 400;
    font-size: 1.125rem;
    display: inline-block;
}

.footer-bottom{
    font-size: 13px;
    margin-top: 20px;
}




/*Responsive*/

@media screen and (max-width:1024px){
    .pitch-info{
        width: 80%;
    }
    figure{
        width: 50%;
    }
    figure > .img-kids{
        width: 100%;
    }
    .container-download{
        width: 50%;
    }
    .container-download > img{
        width: 100%;
    }
    .download{
        width: 70%;
        left: 13%;
    }

    .footer-bottom, .footer-lang, .footer-top{
        margin-left: 1%;
    }
}

@media screen and (max-width:768px){
    .sect-left{
        flex-direction: column;
        padding: 50px;
        justify-content: flex-start;
    }
    .description{
        width: 100%;
    }
    .title{
        font-size: 40px;
        text-align: center;
    }
    .text{
        font-size: 20px;
        text-align: center;
    }
    figure{
        width: 100%;
    }
    .sect-right{
        flex-direction: column-reverse;
        padding: 50px;
    }
    .container-download{
        width: 100%;
    }
    .download{
        width: 60%;
        left: 20%;
    }
}

@media screen and (max-width:480px) {
    
    header{
        padding: 20px 0;
    }

    nav{
        justify-content: space-evenly;
    }

    .logo > img{
        width: 120px;
    }

    .idioma{
        padding: 7px 15px;
        font-size: 12px;
    }

    .login{
        padding: 7px 15px;
        font-size: 12px;
    }

    .pitch-title{
        font-size: 1.625rem;
    }

    .pitch-subtitle{
        font-size: 1.125rem;
    }

    .pitch-form{
        padding: 0 15px;
    }
    .form{
        gap: 15px;
    }
    input[type="email"]{
        display: inline-block;
        width: 100%;
    }
    .start{
        font-size: 1rem;
    }
    .title, .faq > h2{
        font-size: 2rem;
    }
    .text{
        font-size: 1.125rem;
    }
    .media, .media-s2{
        width: 100%;
    }
    .media img ,.media-s2 img{
        width: 100%;
    }
    .media video{
        width: 250px;
        top: 50px;
        left: 42px;
    }
    .media-s2 video{
        width: 200px;
        top: 20px;
        left: 60px;
    }

    .download{
        width: 90%;
        left: 5%;
    }

    .questions{
        font-size: 1.125rem ;
    }

    footer{
        padding: 70px 30px;
    }
}

@media screen and (max-width:375px) {
    .media video{
        width: 200px;
        top: 45px;
        left: 40px;
    }
    .media-s2 video{
        width: 170px;
        top: 20px;
        left: 50px;
    }

    .download{
        width: 100%;
        left: -2%;
    }
}

/*landscape*/

@media screen and (max-width:740px) and (orientation:landscape){
    header{
        height: 200vh;
    }
    .pitch-form{
        padding: 0 20px;
    }
    .form{
        gap: 15px;
    }
    
    input[type="email"]{
        display: inline-block;
        width: 100%;
    }

    .sect-left, .sect-right{
        height: 200vh;
    }
}


